<header>
    <div class="row">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-md navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand ml-4 ml-md-0" routerLink="/home"><img class="logo" style="width:200px;" src="assets/images/logo.png"></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                    <!-- <span><i class="fa fa-bars" aria-hidden="false" style="color:#e6e6ff"></i></span> -->
                  </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item mr-2 ml-3">
                            <a class="nav-link" routerLink="/products" (click)="updateText()" routerLinkActive="active-link">PRODUCTS</a>
                        </li>
                        <li class="nav-item mr-2 ml-3">
                            <a class="nav-link" routerLink="/home" routerLinkActive="active-link">CATEGORIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLinkActive="active-link">CONTACT US</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link pt-0 pb-0 not" href="javascript:void(0)">
                                <form action="" [class.show-form]="search_opened">
                                    <input [class.show-class]="search_opened" type="search" name="searchText" [(ngModel)]="searchText" (keydown.enter)="searchProduct()" placeholder="Search here ...">
                                    <i class="fa fa-search fa-rotate-90" [class.show-fa]="search_opened"></i>
                                </form>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="custom-container" *ngIf="breadcrumb_status">
    <div class="row products_list">
        <div class="col-md-6 p-0">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">MEN SHOES</a></li>
                <li class="breadcrumb-item active">SANDEL</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- <button type="button" class="btn btn-primary filter">FILTERS</button> -->
        </div>
    </div>
</div>