<!------------------------footer------------------------>
<div class="row footer pt-5 pb-3">
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-3 foot_cols1">
                <img class="logo" style="width:200px;" src="assets/images/logo.png">
                <label for="subscribe" class="mt-4">Subscribe to our newsletter</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <span class="input-group-text">Submit</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 foot_cols2">
                <!-- <h3>Explore</h3>
                <ul>
                    <li><a href="#">Featured Products</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">New Arrival</a></li>
                </ul> -->
            </div>
            <div class="col-md-3 foot_cols3">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#">hello@myshopfinder.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 foot_cols4">
                <!-- <h3>My Account</h3>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track Order</a></li>
                </ul> -->
            </div>
        </div>
        <div class="row foot_sec">
            <div class="col-md-2 p-0 head">
                <h2>Disclaimer</h2>
            </div>
            <div class="col-md-10 p-0">
                <p>If you click on a merchant link and buy a product or service on their website, we may be paid a fee. Third-party trademarks are the property of their respective third-party owners. The display of third-party trademarks and trade names
                    on this site does not indicate any affiliation, partnership or endorsement by MyShopFinder.com</p>
            </div>
        </div>
        <div class="col-12 footer_bottom text-center mt-4">
            <p>© Copyright MyShopFinder 2021 </p>
            <p>By using this site or any part of MyShopFinder , you’re agreeing to our
                <a routerLink="/terms" class="footer-links">Terms and Conditions</a> and <a routerLink="/privacy-policy" class="footer-links">Privacy Policy</a></p>

        </div>
    </div>
</div>


<!------------------------end footer------------------------>