<!------------------------footer------------------------>
<div class="row footer pt-5 pb-3">
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-3 foot_cols1">
                <h2>LOGO</h2>
                <label for="subscribe" class="mt-4">Subscribe to our newsletter</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <span class="input-group-text">Submit</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 foot_cols2">
                <h3>Explore</h3>
                <ul>
                    <li><a href="#">Featured Products</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">New Arrival</a></li>
                </ul>
            </div>
            <div class="col-md-3 foot_cols3">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#">497 Evergreen Rd. Roseville, CA 95673</a></li>
                    <li><a href="#">+44 345 678 903</a></li>
                    <li><a href="#">adobexd@mail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 foot_cols4">
                <h3>MY ACCOUNT</h3>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track Order</a></li>
                </ul>
            </div>
        </div>
        <div class="row foot_sec">
            <div class="col-md-2 p-0 head">
                <h2>Disclaimer</h2>
            </div>
            <div class="col-md-10 p-0">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. t vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
            </div>
        </div>
        <div class="col-12 footer_bottom text-center mt-4">
            <p>© Copyright Company Name 2021</p>

        </div>
    </div>
</div>
<!------------------------end footer------------------------>