<!-----------------------header---------------------->
<div class="banner">
    <app-header style="width: 100%;"></app-header>
</div>

<div class="container contact">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="assets/images/contact-image.png" alt="image" />
                <h2 class="text-white">Contact Us</h2>
                <h4 class="text-white">We would love to hear from you !</h4>
            </div>
        </div>
        <div class="col-md-9">
            <form class="contact-form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && processForm(myForm)">
                <div class="form-group">
                    <label class="col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" required class="form-control" [(ngModel)]="model.name" id="name" placeholder="Enter Name" name="name" #nameRef="ngModel" [class.is-invalid]="nameRef.invalid && (nameRef.touched || myForm.submitted)">
                        <div *ngIf="(nameRef.invalid && (nameRef.touched || myForm.submitted)) || nameRef.dirty">
                            <small *ngIf="nameRef.errors?.required" class="text-danger">Name is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" #emailRef="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="model.email" id="email" placeholder="Enter email" name="email" required [class.is-invalid]="emailRef.invalid && (emailRef.touched || myForm.submitted)">
                        <div *ngIf="(emailRef.invalid && (emailRef.touched || myForm.submitted)) || emailRef.dirty">
                            <small *ngIf="emailRef.errors?.required" class="text-danger">Email is required</small>
                            <small class="text-danger" *ngIf="emailRef.errors?.pattern">Email is invalid</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="message">Message:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" #messageRef="ngModel" required [class.is-invalid]="messageRef.invalid && (messageRef.touched || myForm.submitted)" [(ngModel)]="model.message" name="message" rows="5" id="message"></textarea>
                        <div *ngIf="(messageRef.invalid && (messageRef.touched || myForm.submitted)) || messageRef.dirty">
                            <small *ngIf="messageRef.errors?.required" class="text-danger">Message is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="button button-primary button-primary-style">Submit</button>
                    </div>
                </div>
                <p class="text-green">{{server_response}}</p>
            </form>
        </div>
    </div>
</div>