<!-- <div class="container" *ngIf="!loading && !error_status"> -->
<div class="custom-container pt-2" *ngIf="breadcrumb_status">
    <div class="row products_list">
        <div class="col-md-6 p-0">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="genereateBreadcrumbRequest('')">All</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" class="active">{{breadcrumb_data.section}}</a></li>
                <li class="breadcrumb-item" *ngFor="let bread of breadcrumb_data.data; index as i;">
                    <a href="javascript:void(0)" (click)="genereateBreadcrumbRequest(bread.slug)" [class.active]="checkLast(i)">{{bread.category_name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- <button type="button" class="btn btn-primary filter">FILTERS</button> -->
        </div>
    </div>
</div>
<div class="custom-container">
    <p-dataView #dv [value]="products.products" (onPage)="paginate($event)" layout="grid" [paginator]="true" [rows]="8" [loading]="loading" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder">
        <ng-template pTemplate="header">
            <div class="row">
                <div class="col-md-4 col-12 mb-2 mr-2 p-0">
                    <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sorted By" (onChange)="onSortChange($event)"></p-dropdown>
                </div>
                <div class="col-md-4 col-12 mb-2">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input class="form-control" type="search" pInputText value="" placeholder="Search by Title" (keyup)="dv.filter($any($event.target).value)">
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-2">

                </div>
                <!-- <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                     <input type="search" pInputText value="" placeholder="Search by Title" (keyup)="dv.filter($any($event.target).value)">
                </span> -->
                <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
            </div>
        </ng-template>
        <!-- <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <img [src]="product.image" [alt]="product.title" />
                    <div class="product-list-detail">
                        <div class="product-name">{{product.title}}</div>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.brand}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price"><s>${{product.original_price}}</s></span>
                        <span class="product-price">${{product.sale_price}}</span>
                        <button>Buy</button>
                    </div>
                </div>
            </div>
        </ng-template> -->
        <ng-template let-product let-index="rowIndex" pTemplate="gridItem">
            <div class="col-6 col-md-3 d-inline-block h-100">
                <div class="product-grid-item card border-0 mb-1 mt-1  product-active" (click)="generateRequest(product)">
                    <img class="card-img-top rounded-0  bg-light-grey img-fluid" style="width:300px;height:200px;object-fit:contain" [src]="product.image" [alt]="product.title" onerror="this.src='assets/images/placeholder.png';">
                    <div class="product-grid-item-content card-body pt-2 p-0">
                        <div class="d-flex flex-md-row flex-column align-items-md-center">
                            <div class="mr-auto text-dark font-weight-bolder"><span>{{product.title|uppercase}}</span> <br>
                                <span class="d-md-inline text-secondary d-none">{{product.brand|uppercase}}</span>
                            </div>
                            <div class="font-weight-bold p-0">
                                <span class="mr-2 text-danger d-md-inline d-none"><s>${{product.original_price}}</s></span>
                                <span class="price-color">${{product.sale_price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </p-dataView>
</div>
<!-- <div class="loader" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div> -->