<!-- This is the Mobile Bread Crumb and Filter Button in Product Category Status -->
<!-- <div class="custom-container pt-2 pb-2" *ngIf="breadcrumb_status && mobile_filter_view">
    <div class="row products_list">
        <div class="col-8 p-0">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="genereateBreadcrumbRequest('')">All</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="generateSectionRequest(breadcrumb_data.section)" class="active">{{breadcrumb_data.section}}</a></li>
                <li class="breadcrumb-item" *ngFor="let bread of breadcrumb_data.data; index as i;">
                    <a href="javascript:void(0)" (click)="genereateBreadcrumbRequest(bread.slug)" [class.active]="checkLast(i)">{{bread.category_name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-4 text-right p-0">
            <button type="button" (click)="openFilterSidebar()" class="button button-secondary  pl-3 pr-3 d-md-none">Filter</button>
        </div>
    </div>
</div> -->
<!-- This is the Mobile Bread Crumb and Filter Button in All Product Status -->
<!-- <div class="custom-container pt-2 pb-2 d-md-none" *ngIf="all_product_status && mobile_filter_view">
    <div class="row products_list">
        <div class="col-8 p-0">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="genereateBreadcrumbRequest('')">All</a></li>
            </ul>
        </div>
        <div class="col-4 text-right  p-0">
            <button type="button" (click)="openFilterSidebar()" class="button button-secondary  pl-3 pr-3">Filter</button>
        </div>
    </div>
</div> -->
<div class="custom-container p-0 custom-container-height">
    <!-- Switch Button For Mobile View -->
    <div id="switch_button" class="optionClass d-md-none" *ngIf="mobile_filter_view">
        <label class="switch1">
            <input type="checkbox" [(ngModel)]="switchChecked" (change)="checkValue(switchChecked?'List':'Single')">
            <span class="slider1 round"></span>
            <span class="absolute-no">Single</span>
          </label>
    </div>
    <!-- Data View For Displaying Product -->
    <p-dataView #dv [value]="products.products" emptyMessage="No Products Available" (onChangeLayout)="changeLayout($event)" (onPage)="paginate($event)" [layout]="currentLayout" [paginator]="true" [rows]="limits" [loading]="loading" filterBy="title" [sortField]="sortField"
        [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [sortOrder]="sortOrder" class="p-0">
        <ng-template pTemplate="header">
            <!-- Bread Crumb For Desktop View -->
            <div class="row d-md-flex p-2">
                <div class="col-md-4 col-12">
                    <div class="pt-2 pb-2" *ngIf="breadcrumb_status">
                        <div class="row products_list">
                            <div class="col-12 p-0">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="genereateBreadcrumbRequest('')">All</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="generateSectionRequest(breadcrumb_data.section)">{{breadcrumb_data.section}}</a></li>
                                    <li class="breadcrumb-item" *ngFor="let bread of breadcrumb_data.data; index as i;">
                                        <a href="javascript:void(0)" (click)="genereateBreadcrumbRequest(bread.slug)" [class.active]="checkLast(i)">{{bread.category_name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="col-4">
                                <button type="button" (click)="openFilterSidebar()" [class.back-color1]="backgroud_status" class="button button-secondary d-md-none">Filter</button>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-2 p-0 pl-md-2 pr-md-2">
                    <div class="p-inputgroup global-search">
                        <input type="text" [(ngModel)]="searchText" pInputText placeholder="What Are You Looking for?" (keyup.enter)="searchBySection()">
                        <p-dropdown autoWidth="true" [options]="sectionsDropDown" [(ngModel)]="searchKey"></p-dropdown>
                        <button type="button" (click)="searchBySection()" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- <p-dataViewLayoutOptions class="d-md-none optionClass"></p-dataViewLayoutOptions> -->
            <!-- Desktop View With Title -->
            <div class="row d-md-flex p-2">
                <div class="col-md-9 col-12 order-md-1 order-2 text-center text-md-left">
                    <p class="page-title-font">{{pageTitle}}</p>
                </div>
                <!-- <div class="col-md-3 col-12 mb-md-2 mb-4">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input class="form-control" type="search" pInputText value="" placeholder="Search by Title" (keyup)="dv.filter($any($event.target).value)">
                    </div>
                </div> -->
                <div class="col-md-3 col-12 order-1 order-md-2 mb-2 p-0">
                    <div class="row">
                        <div class="col-6 p-0 pr-md-2 text-left text-md-center">
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','color':'black !important','background-color':'#F1F3F5'}" [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"></p-dropdown>
                        </div>
                        <div class="col-6 text-right text-md-center p-0">
                            <button type="button" (click)="openFilterSidebar()" class="button button-secondary pl-4 pr-4 button-filter">Filter </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Desktop View with Grid Manner-->
        <ng-template let-product let-index="rowIndex" pTemplate="gridItem">
            <div class="col-6 col-md-3 d-inline-block h-100">
                <div class="product-grid-item card border-0 mb-1 mt-1  product-active" (click)="generateRequest(product)">
                    <img class="card-img-top rounded-0  bg-light-grey img-fluid" style="width:300px;height:200px;object-fit:contain" [src]="product.image" [alt]="product.title" onerror="this.src='assets/images/placeholder.png';">
                    <div class="product-grid-item-content card-body pt-2 p-0">
                        <p class="text-dark font-weight-bolder text-overflow-elipsis">{{product.title|uppercase}}</p>
                        <p class="text-secondary text-overflow-elipsis">{{product.brand|uppercase}}</p>
                        <p class="font-weight-bold">
                            <span class="mr-2" [class]="product.sale_price ? 'color-light-grey' : 'color-black-bold'">${{product.original_price}}</span>
                            <span *ngIf="product.sale_price" class="price-color color-purple">${{product.sale_price}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Mobile View Display For Single Product -->
        <ng-template let-product pTemplate="listItem">
            <div class="col-md-12 categories_bg category-color text-center">
                <img [src]="product.image" [alt]="product.title" class="img-fluid" onerror="this.src='assets/images/placeholder.png';" />
                <h2 class="category_title text-dark">{{product.title}}</h2>
                <h4 class="total_products">{{product.brand}}</h4>
                <h4 class="mb-3 ">
                    <span class="mr-2" [class]="product.sale_price ? 'color-light-grey' : 'color-black-bold'">${{product.original_price}}</span>
                    <span *ngIf="product.sale_price" class="price-color color-purple">${{product.sale_price}}</span>
                </h4>
                <a href="{{product.link}}" target="_blank" (click)="generateRequest(product)" class="button button-primary button-primary-style">Buy Now</a>
            </div>
        </ng-template>
    </p-dataView>
</div>
<!-- Sidebar View -->
<p-sidebar [(visible)]="filter_sidebar" position="right" [baseZIndex]="10000">
    <div class="row">
        <div class="col-12">
            <p class="ml-3 font-weight-bold mb-1">Price: $ {{selectedRangeValues[0] + ' - ' + selectedRangeValues[1]}}</p>
            <p-slider [(ngModel)]="selectedRangeValues" [min]="rangeValues[0]" [max]="rangeValues[1]" [range]="true"></p-slider><br>
        </div>
        <div class="col-12 mb-2">
            <p-listbox [options]="brands" [(ngModel)]="selectedBrand" [metaKeySelection]="false" [checkbox]="true" [filter]="false" [multiple]="true" optionLabel="brand" [showToggleAll]="false" [listStyle]="{'max-height':'220px'}" [style]="{'width':'15rem','border':'none'}">
                <ng-template pTemplate="header">
                    <strong>Brand</strong>
                </ng-template>
                <ng-template let-brand pTemplate="item">
                    <div class="brand-item">
                        <div>{{brand.brand|uppercase}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </div>
        <div class="col-12 mb-2" *ngIf="categories.length!=0">
            <p-listbox [options]="categories" [(ngModel)]="selectedCategory" [metaKeySelection]="false" [checkbox]="true" [filter]="false" [multiple]="true" optionLabel="category_name" [showToggleAll]="false" [listStyle]="{'max-height':'220px'}" [style]="{'width':'15rem','border':'none'}">
                <ng-template pTemplate="header">
                    <strong>Category</strong>
                </ng-template>
                <ng-template let-category pTemplate="item">
                    <div class="category-item">
                        <div>{{category.category_name|uppercase}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </div>
        <div class="col-12">
            <button type="button" class="button1" (click)="submitFilter()">Apply Filter</button>
        </div>
    </div>
</p-sidebar>