body {
    width: 100% !important;
    min-height: 100vh;
    height: auto;
    margin: 0;
    overflow: auto;
}

img {
    max-width: 100%;
}

.row {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0 !important;
}

a:hover {
    text-decoration: none;
}

.heading-font {
    font-family: 'Gilroy-Bold';
}