/*****************Font Text-----------------------------*/

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/Gilroy-Bold.woff') format('woff');
}

.btn {
    border-radius: 0px !important;
}

.active-link {
    border-bottom: 1px solid white;
}

.bg-light-grey {
    background-color: #F1F3F5;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
    transform: rotate(180deg);
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: white !important;
}

.navbar-dark .navbar-toggler-icon::after {
    /* content: "\f036"; */
    content: "\f038";
    font-family: "FontAwesome";
    font-size: 30px;
    letter-spacing: -20px;
    color: white;
}

.price-color {
    color: #ae4eae;
}


/*******************products***************************/

.col1 {
    background-color: #126aff;
}

.col2 {
    background-color: #0fbf7a;
}

.col3 {
    background-color: #053aa8;
}

.col4 {
    background-color: #173746;
}

.col5 {
    background-color: #e95c93;
}

.col6 {
    background-color: #101358;
}

.col7 {
    background-color: #8f459a;
}

.col8 {
    background-color: #49b145;
}

.category_title {
    font-size: 35px;
    line-height: 50px;
    /* color: #ffffff; */
    font-weight: 700;
    font-family: "Bebas Neue" !important;
}

.categories_bg {
    padding-bottom: 35px;
    padding-top: 30px;
}

.total_products {
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #6b6868;
    margin-bottom: 15px;
    font-weight: 500;
}

.foot_cols3 {
    order: 3;
}

.categories a {
    /* border-radius: 4px; */
    font-size: 18px;
    line-height: 17px;
    padding: 12px 50px;
    /* color: #ffffff; */
    font-weight: 800;
}

.categories_bg img {
    height: 250px;
}

.col1 a {
    background-color: #86b3ff;
}

.col2 a {
    background-color: #84debb;
}

.col3 a {
    background-color: #7f9ad2;
}

.sorting {
    background: #f1f3f5;
    border: none;
    font-size: 19px;
    color: #000000;
    font-weight: 500;
    padding: 10px 35px;
}

.toggle_sec {
    display: flex;
    align-items: center;
    padding-left: 140px;
}

.sorting:hover {
    background: #f1f3f5;
    border: none;
    font-size: 19px;
    color: #000000;
    font-weight: 500;
}

.filter_btns {
    padding: 10px 70px;
}

.sorting.btn-primary:not(:disabled):not(.disabled).active,
.sorting.btn-primary:not(:disabled):not(.disabled):active,
.sorting.show>.btn-primary.dropdown-toggle {
    color: #000 !important;
    background: #f1f3f5 !important;
    border: none;
}

.col4 a {
    background-color: #6b7f89;
}

.col5 a {
    background-color: #f197ba;
}

.col6 a {
    background-color: #8586a9;
}

.col7 a {
    background-color: #c5a0cb;
}

.col8 a {
    background-color: #a2d7a0;
}

.listing {
    background-color: #f1f3f5;
}

.product_listing {
    border: 1px solid grey;
}


/*********************footer********************/

.footer {
    background-image: linear-gradient(104deg, #d346be 0%, #7388de 100%);
}

.footer_top img {
    margin-bottom: 10px;
    width: 220px;
}

.footer h3 {
    font-size: 23px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 800;
}

.footer h2 {
    font-size: 35px;
    color: #ffffff;
    font-weight: 800;
}

.footer label {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}

.footer_bottom p {
    font-size: 12px !important;
    line-height: 24px !important;
    color: #ffffff !important;
}

.footer .form-control {
    border-radius: 10px;
    background-color: #ac58af;
    border: none;
    font-size: 17px;
}

.footer .form-control::placeholder {
    color: #ffffff;
}

.footer .input-group-text {
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
}

.footer .head {
    display: flex;
    align-items: center;
}

.foot_sec h2 {
    font-size: 20px !important;
    line-height: 55px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    margin-left: 50px;
}

.foot_sec p {
    font-size: 15px !important;
    color: #ffffff !important;
    line-height: 24px !important;
}

.footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #CFCFCF;
}

.footer li a {
    font-size: 15px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 300;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}