@import "global.css";
@import "banner.css";
@import "main.css";
@media screen and (min-width:768px) and (max-width: 991px) {
    .foot_sec h2 {
        font-size: 25px !important;
        line-height: 55px !important;
        color: #ffffff !important;
        font-weight: bold !important;
        margin-left: -15px;
    }
    .shop a {
        border-radius: 4px;
        font-size: 18px;
        line-height: 17px;
        padding: 12px 35px;
    }
}


/* For Mobile Screen */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #feature-image {
        position: static;
        max-width: 100%;
        top: 0;
        max-height: none;
    }
    .product_slide {
        min-height: none;
        padding-bottom: 0px;
    }
    .logo {
        width: 200px;
    }
    .navbar-toggler {
        margin-left: 30px;
    }
    .navbar-toggler:focus {
        outline: none;
    }
    .nav-item {
        text-align: center;
    }
    .nav-item a:hover {
        background: #827eda !important;
    }
    .navbar {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 0;
        background-color: #ae4eae;
    }
}

@media screen and (max-width: 767px) {
    .head h2 {
        display: none;
    }
    .foot_sec p {
        font-size: 15px !important;
    }
    .footer label {
        margin-top: 2px !important;
    }
    .banner {
        background: #827eda !important;
    }
    .banner h2 {
        font-size: 20px;
    }
    .banner h3 {
        font-size: 25px;
    }
    .buy_sec {
        text-align: center !important;
    }
    .banner p {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        max-height: none;
        overflow: auto;
    }
    .new_sec .btn {
        margin-top: -35px !important;
    }
    .filter {
        position: absolute;
        right: 0;
        top: -30px;
    }
    .footer h3 {
        font-size: 21px;
    }
    header .products_list {
        display: block;
    }
}


/* Added for Loader */

.loader {
    width: 100%;
    text-align: center;
}