<div class="custom-container">
    <div class="row mt-5 " *ngIf="view_status && !loading  && !error_status">
        <div class="col-md-12 feature">
            <div class="col-12 text-center mb-3 new_sec">
                <button type="button" class="btn btn-primary price">NEW</button>
            </div>
            <h2 class="text-center">{{data.product[0].category_name|uppercase}}</h2>
            <div class="col-md-12 product_slide">
                <h3 class="heading-font">{{data.product[0].title|uppercase}}</h3>
                <img id="feature-image" src="{{data.product[0].image}}">

                <div class="row pricing_sec d-flex justify-content-space-between">
                    <div class="col-md-12 item1 order-md-0 pl-0  order-1 mb-md-2 mb-5">
                        <p>{{data.product[0].description}}</p>
                    </div>
                    <div class="col-12 col-md-6 p-0 sale_sec order-md-1 order-0 text-md-left text-center mb-3">
                        <button type="button" class="btn btn-primary price"><s>${{data.product[0].original_price}}</s>
                        ${{data.product[0].sale_price}}</button>
                    </div>
                    <div class="col-12 col-md-6 text-right buy_sec pr-md-5 order-md-2 mb-5 order-2">
                        <a href="{{data.product[0].link}}" target="_blank" (click)="generateRequest(data.product[0])" class="btn btn-primary buy font-weight-bold">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="view_status && loading">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>